<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app.css" rel="stylesheet">
    <link href="admin.css" rel="stylesheet">
    <script src="express.js"> </script>
    <script src="app.js"> </script>
    <script src="admin.js"> </script>
    <title>Manger only</title>
</head>
<body>
  
  <div class="topnav">

    <a class="active" href="/">Home</a>

    <div class="dropdown">
      <a href="/Rings" class="dropbtn">Rings</a>
      <div class="dropdown-content">
        <a href="/Silver rings">Silver rings</a>
        <a href="/Gold rings">Gold rings</a>
        <a href="/Wedding rings">Wedding rings</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="/Necklaces" class="dropbtn">Necklaces</a>
      <div class="dropdown-content">
        <a href="/Silver necklaces">Silver necklaces</a>
        <a href="/Gold necklaces">Gold necklaces</a>
        <a href="/Pearls necklaces">Pearls necklaces</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="/Bracelets" class="dropbtn">Bracelets</a>
      <div class="dropdown-content">
        <a href="/Silver bracelets">Silver bracelets</a>
        <a href="/Gold bracelets">Gold bracelets</a>
        <a href="/Anklets">Anklets</a>
      </div>
    </div>


    <a href="/BEST SELLERS">BEST SELLERS</a>

    <a href="/SALE">SALE</a>

    <a href="/Contact">Contact</a>

    <a href="/About">About</a>

    <a href="/Admin">Admin</a>

  </div>

  <form action="#">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" required>
  
      <button type="submit">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  <div>
    <h1 id="welcomeMessage"> </h1>
    <div class="button-container">
    <button id="createButton" class="mngbutton" onclick="createNew()" > Create</button>
    <button id="updateButton" class="mngbutton"> Update</button>
    <button id="deleteButton" class="mngbutton"> Delete</button>
    <button id="searchButton" class="mngbutton"> Search</button>
    </div>
  </div>
  
  <form id="newAccessoryForm">
    <label for="category">Category:</label>
    <select id="category">
      <option value="rings">Rings</option>
      <option value="necklaces">Necklaces</option>
      <option value="bracelets">Bracelets</option>
    </select>
    <br>
    <label for="pictureUrl">Picture URL:</label>
    <input type="text" id="pictureUrl" required>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" required>
    <button type="submit" onclick="addTohtml()">Add Accessory</button>
  </form>
  

</body>
</html>