<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="app.css" rel="stylesheet">
    <script src="express.js"> </script>
    <script src="app.js"> </script>
    <title>COCO jewlery</title>
</head>

<body>
    <header>
        <span>
            <i class='fa fa-user' style='font-size: 32px;'></i> &nbsp
            <i class="fa fa-shopping-cart" style='font-size: 32px;'></i> &nbsp
            <i class='fa fa-heart-o' style='font-size: 32px;'></i> &nbsp
        </span>

        <div>
            <canvas id="myCanvas" width="300" height="100"> </canvas>
            <img id="logoImage" src="logo%20picture.webp" style="width: 150px; height: 150px;">
        </div>

    </header>


    <div class="topnav">

        <a href="/">Home</a>

        <div class="dropdown">
            <a href="/Rings" class="dropbtn">Rings</a>
            <div class="dropdown-content">
                <a href="/Silver rings">Silver rings</a>
                <a href="/Gold rings">Gold rings</a>
                <a href="/Wedding rings">Wedding rings</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="/Necklaces" class="dropbtn">Necklaces</a>
            <div class="dropdown-content">
                <a href="/Silver necklaces">Silver necklaces</a>
                <a href="/Gold necklaces">Gold necklaces</a>
                <a href="/Pearls necklaces">Pearls necklaces</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="/Bracelets" class="dropbtn">Bracelets</a>
            <div class="dropdown-content">
                <a href="/Silver bracelets">Silver bracelets</a>
                <a href="/Gold bracelets">Gold bracelets</a>
                <a href="/Anklets">Anklets</a>
            </div>
        </div>


        <a href="/BEST SELLERS">BEST SELLERS</a>

        <a href="/SALE">SALE</a>

        <a class="active" href="/Contact">Contact</a>

        <a href="/About">About</a>

        <a href="/Admin">Admin</a>

    </div>


    <div>
        <br>
        <i class='fa fa-search'></i>
        <input type="text" id="searchbar" name="fname" placeholder="Search products"></input>
    </div>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit us in agency location or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <p> Elie Wiesel 2 Rishon LeZion</p>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <p>COCO@gmail.com </p>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <p> Sunday to Thursday:9:00am to 18:00 </p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.677447554664!2d34.77368982466807!3d31.96964617401127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b3f42ba5a7e5%3A0x37541fb9d63f060a!2z15DXnNeZINeV15nXltecIDIsINeo15DXqdeV158g15zXpteZ15XXnw!5e0!3m2!1siw!2sil!4v1686412247167!5m2!1siw!2sil"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Yout Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal" onclick="openPopup()">Submit</button>
            <script>
                function openPopup() {
                    // Create the new window
                    var popup = window.open("", "popup", "width=400,height=300");


                    var popupContent = "<h1>Your details have been entered into the system :)";

                    // Display the content in the new window
                    popup.document.write(popupContent);
                }
            </script>


        </form>
    </section>


    <footer class="Contact">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Addres</strong> : Elie Wiesel 2 Rishon LeZion</p>
            <p><strong>Phone</strong> : 03-963-4000</p>
            <p><strong>Hours</strong> : 10:00 - 18:00,Sunday-Thursday</p>
            <div class="contact">
                <h4>Contact with us</h4>
                <div class="icon">
                    <i class="fa fa-whatsapp" style='font-size:25px;'></i>
                    <i class="fa fa-envelope" style='font-size:25px;'></i>
                    <i class="fa fa-facebook-f" style='font-size:25px;'></i>
                    <i class="fa fa-instagram" style='font-size:25px;'></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>

        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>

        </div>

        <div class="col"></div>
        <h4>Secured Payment Getways</h4>
        <div class="payment">
            <i class="fa fa-cc-visa" style='font-size:29px;'></i>
            <i class="fa fa-cc-paypal" style='font-size:29px;'></i>
            <i class="fa fa-cc-mastercard" style='font-size:29px;'></i>
            <i class="fa fa-cc-amex" style='font-size:29px;'></i>
        </div>


    </footer>
    <div class="copyright">
        <p>&copy; 2023, COCO JEWELRY</p>
    </div>
</body>

</html>